.expenses-filter {
    padding: 1rem 0rem;
    margin-bottom: 2rem;
}

.expenses-filter__control {
    display: flex;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
    gap: 1rem;
}

.expenses-filter label {
    color: var(--bgColor2);
}

.expenses-filter select {
    font: inherit;
    font-weight: 800;
    padding: 0.75rem 0.75rem;
    border: 0px solid;
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, var(--main-orange-color) 20%, var(--ion-tab-bar-color-selected) 95%);
    appearance: none;
    border-radius: 0px;
    outline: none;
    width: 75px;
    transition: all 150ms ease;
    background: -webkit-linear-gradient(45deg, var(--main-orange-color), var(--ion-tab-bar-color-selected));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fadeInUp 250ms ease forwards;
}

.expenses-filter select:hover, .csv-div:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

.expense-filter__control-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.expense-filter__control-box:nth-of-type(2) {
    align-items: flex-end;
}

.expensesTotal {
    color: rgb(179, 179, 179);
    font-weight: 300;
    font-size: 0.9rem;
    transition: color 275ms ease-in-out;
}


.fa-file-csv {
    background: -webkit-linear-gradient(320deg, var(--main-orange-color), var(--ion-tab-bar-color-selected));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.2rem;
}

.csv-div {
    border: 0px solid;
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, var(--main-orange-color) 20%, var(--ion-tab-bar-color-selected) 95%);
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.75rem 0.75rem;
    transition: all 150ms ease;
}

.csv-div p {
    font-size: 0.9rem;
    font-weight: 600;
}


.fa-chart-bar {
    cursor: pointer;
    background: rgb(199, 199, 199);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.fa-chart-bar.active {
    background: -webkit-linear-gradient(320deg, var(--main-orange-color), var(--ion-tab-bar-color-selected));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

/* @media (max-width: 780px) {
    .fa-file-csv {
        display: list-item;
        list-style: none;
    }

    .expenses-filter select {
        color: black
    }
} */