/* Transition Transale */

.transition-enter {
    opacity: 0;
    transform: translateY(0px);
}

.transition-enter-active {
    opacity: 1;
    transform: translateY(0px);
    transition: all 400ms ease-in-out;
}

.transition-exit {
    opacity: 1;
    transform: translateY(0px);
}

.transition-exit-active {
    opacity: 0;
    transform: translateY(0px);
    transition: all 400ms ease-in-out;
}

/* Transition Opacity */

.transitionOpacity-enter {
    opacity: 0;
}

.transitionOpacity-enter-active {
    opacity: 1;
    transition: all 400ms ease-in-out;
}

.transitionOpacity-exit {
    opacity: 1;
}

.transitionOpacity-exit-active {
    opacity: 0;
    transition: all 400ms ease-in-out;
}